<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE hibernate-configuration PUBLIC
 		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
 <hibernate-configuration>
     
     <session-factory>
         
         <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
         <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/web</property>
         <property name="hibernate.connection.username">root</property>
         <property name="hibernate.connection.password">Ad@m505302</property>
         <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
         <property name="hibernate.hbm2ddl.auto">none</property>
         <property name="hibernate.show_sql">true</property>
         <property name="hibernate.format_sql">true</property>
         
         <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
         <property name="hibernate.c3p0.min_size">1</property>
         <property name="hibernate.c3p0.max_size">20</property>
         <property name="hibernate.c3p0.timeout">30</property>
         <property name="hibernate.c3p0.max_statements">50</property>
		 <property name="hibernate.c3p0.idle_test_period">100</property>
         
         <mapping class="br.com.web.domain.User"/>
         <mapping class="br.com.web.domain.UserCompany"/>
         <mapping class="br.com.web.domain.Company"/>
         
         <mapping class="br.com.web.domain.Product"/>
         <mapping class="br.com.web.domain.ProductType"/>
         <mapping class="br.com.web.domain.Manufacturer"/>
         <mapping class="br.com.web.domain.Category"/>
         
     </session-factory>
     
 </hibernate-configuration>